<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Új macska felvétele</title>
</head>
<body>

  <form method="post">
<label for="szemszin">Szemszín:</label>
<input required type="text" name="szemszin">
<label for="suly">Súly:</label>
<input required type="number" min="0.1" name="suly">
<input type="submit" value="Felvétel">
</form>
<hr>
<p><a href="/">Vissza a főoldalra</a></p>
</body>
</html>
